.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  min-height: 10vh;
}
.semaphoreContainer {
  min-height: 90vh;
  padding: 6rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ff6f69;
}
